body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#0a516d;
    margin: 0px;
    height: 100vh;
}
.listBoxPlayers{
    padding-inline: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    height: 90vh;
    margin: 20px;
    background-color:#2b2726;

}
.sectionListSearch{
    width: 60%;
    height: auto;
}
.boxPlayer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    background-color:#0a516d;
    color: white;
   
 
  padding: 14px;
  width: 90%;
  margin: 5px;

  cursor: pointer;
  border-radius: 4px;
}
.boxPlayer:hover{
    background-color: #7dad93;
}
li{
    display: flex;
    align-items: center;
    width: auto;
}
ul{
    list-style: none;
    margin: 0px;
    padding-inline-start: 0px;
}
.list{


    width: 100%;
    height: 30em;
    padding: 5px;
    overflow-y: auto;
    
}
#procurar{
    padding: 10px;
    width: 90%;
    margin: 5px;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid rgb(170, 170, 170);
    color: rgb(204, 204, 204);
}
.campo{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80%;
    width: 20em;
    background-color: #7dad93;
    margin: 15px;
    border-radius: 8px;
}
.info{ 
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    font-size: 22px;
    width: 85%;
}
.infoDiv{
    padding: 8px;
    background-color: #2b2726;
    width: 100%;
    color: white;
    border-radius: 8px;
    margin-top: 2em;
}
button{
    width: 100%;
    height: 5em;
    display: none;
}
.btn{
    width: auto;

}
.times{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 1em;
    width:100%;
    height: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.time{
     margin: 20px;
     display: flex;
     align-items: center;
     flex-direction: column;
}
#jogadoresTime1{
    background-color: rgb(23, 255, 73);

   
}
#jogadoresTime2{
    background-color: rgb(255, 135, 23);

}
.titulotime{
    border-radius: 2px;
    padding: 2px;
    background-color: rgb(213, 221, 213);
}
.players{
    margin: 2px;
    align-items: center;
    background-color: rgb(117, 117, 117);
}
.data{
    display: flex;
    justify-content: space-between;
    align-items: center;
}